body{ background: #A6B8E3 ;
}

.gridlogo {
  display: grid;
  grid-template-columns: 0.6fr 1.1fr 1.2fr 0.6fr 1.7fr;
  grid-template-rows: 0.3fr 1fr 1.3fr 1.3fr 2.8fr 0.6fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo hat hat hat hat"
    "arrow arrow arrow arrow arrow"
    "weight whale whale whale whale"
    "tags tags empty empty sun"
    "box box box box box"
    "whitenet whitenet empty2 vertnet vertnet"
    "empty3 empty3 bluenet vertnet vertnet";
}

.logo { grid-area: logo;
  background: #002EAB ;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 7vw}

.bluelogo2{
  position: absolute;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 7vw;
  margin-left: 0vw;
  opacity: 1;}

  .bluelogo2:hover {
    opacity: 0;}

.logowhite2{
  width: 100%;
margin-top: 1vw}

.hat { grid-area: hat;
background: #ffffff;
grid-column-start: 2;
grid-column-end: 6;
grid-row-start: 1;
grid-row-end: 2;
height: 5vw}

.imgsun{
  width: 100%;
}
.arrow { grid-area: arrow;
  background: #A6B8E3;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 22vw}
.text1{
  font-family: null;
  color:#002EAB;
  font-size: 4vw;
  margin-left: 12vw;
  margin-top: 2vw;
  float: left;
  display: block;
  opacity 1}

.text1:hover {
  opacity: 0.6;
}

.text2{
  font-family: null;
  color:#002EAB;
  font-size: 4vw;
  margin-left: 54vw;
  margin-top: 2vw;
  float: left;
  display: block;
  opacity 1;}

  .text2:hover {
    opacity: 0.6;
  }

.whitebox{
  background: #ffffff;
  margin-left: 12vw;
  margin-top: 2vw;
  height: 6vw;
  width: 25vw;
  float: left;
  display: block;}

  .city1{
    width: 15.5vw;
    height: 3vw;
    margin-top: 2vw;
    margin-left: 1vw;
    display: block;
    background: url('../img/city1.svg');
    animation: city1 5s steps(1) infinite;
    animation-play-state: paused;
  }
.city1:hover{
  animation-play-state: running;
}

  @keyframes city1 {
  0% {background-position: 0vw 0vw;}   /* дакар */
    20% {background-position: 0vw -3.7vw;} /* панама */
    40% {background-position: 0vw -7.3vw;} /* жичжао */
    60% {background-position: 0vw -10.9vw;} /* дюнкерк */
    80% {background-position: 0vw -14.5vw;} /* хошимин */
    100% {background-position: 0vw -18.5vw;} /* мельбурн */
  }

  .city2{
    width: 22.2vw;
    height: 3vw;
    margin-top: 2vw;
    margin-left: 0vw;
    display: block;
    background: url('../img/city2.svg');
    animation: city2 5s steps(1) infinite;
    animation-play-state: paused;
  }
.city2:hover{
  animation-play-state: running;
}

  @keyframes city2 {
  0% {background-position: 0vw 0vw;}   /* новоросийск */
    20% {background-position: 0vw -3.7vw;} /* приморск */
    40% {background-position: 0vw -7.3vw;} /* баирики */
    60% {background-position: 0vw -10.9vw;} /* саутгемптон */
    80% {background-position: 0vw -14.5vw;} /* владивосток */
    100% {background-position: 0vw -18.5vw;} /* мельбурн */
  }

  .arrowimg{
    width: 15%;
    margin-left: 10vw;
    margin-top: 4vw;
    float: left;
    display: block;}

.whitebox2{
  background: #ffffff;
  margin-left: 10vw;
  margin-top: 2vw;
  height: 6vw;
  width: 25vw;
  float: left;
  display: block;}

.weight { grid-area: weight;
background: #002EAB;
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 3;
grid-row-end: 4;
height: 29vw}



.text3{
  font-family: null;
  color:#ffffff;
  font-size: 4vw;
  margin-left: 2vw;
  margin-top: 2vw;
  opacity 1}

  .text3:hover {
    opacity: 0.6;
  }

.weightimg{
  width: 50%;
  margin-left: 6vw;
  margin-top: -3vw;
  }

.weightimg:hover {
 animation: transform 0.6s ease;}

@keyframes transform {
  15% {transform: translateX(3vw) scale(1.2);}
  30% {transform: translateX(-3vw) scale(1.2);}
  40% {transform: translateX(2vw) scale(1.2);}
  50% {transform: translateX(-2vw) scale(1.2);}
  65% {transform: translateX(1vw) scale(1.2);}
  100% {transform: translateX(0) scale(1.2);}
}

.text104{
  font-family: null;
  color:#ffffff;
  font-size: 4vw;
  margin-left: 2vw;
  margin-top: 2vw;}

  .text104:hover {
   animation: transform 0.6s ease;
   color:#EA513A}

.whale { grid-area: whale;
  /* background: #ffffff; */
  background: url('../img/whalesall.svg');
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
  height: 29vw;
  weight: 80%;
  animation:change 3s steps(1) infinite;
  animation-play-state: paused;}

  .whale:hover{
  animation-play-state: running;}

  @keyframes change {
  0% {background-position: 0vw 0vw;}
  30% {background-position: 0vw -29vw;}
  60% {background-position: 0vw -58vw;}
  100% {background-position: 0vw -87vw;}
}

  .text4{
    font-family: null;
    color:#002EAB;
    font-size: 4vw;
    margin-left: 2vw;
    margin-top: 2vw;
    opacity 1}

    .text4:hover {
      opacity: 0.6;
    }

.tags { grid-area: tags;
  background: #ffffff;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  height: 29vw}

 .iconcup{
   width: 15%;
   margin-left: 2vw;
   margin-top: 5vw;
  }
 .icontempr{
   width: 10%;
   margin-left: 1vw;
  }
 .iconfire{
   width: 18%;
   margin-left: 1vw;
   margin-top: 1vw;
}
 .iconarrow{
   width: 35%;
   margin-left: 0vw;
   padding-top: 2vw;
}
  .text5{
    font-family: null;
    color:#002EAB;
    font-size: 4vw;
    margin-left: 2vw;
    margin-top: 2vw;
    opacity 1}

    .text5:hover {
      opacity: 0.6;
    }

.empty { grid-area: empty;
  background: #A6B8E3;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  height: 29vw}

.sun { grid-area: sun;
  background: #002EAB;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
  height: 29vw}



.text6{
    font-family: null;
    color:#ffffff;
    font-size: 4vw;
    margin-left: 2vw;
    margin-top: 2vw;
    opacity 1}

    .text6:hover {
      opacity: 0.6;
    }

.sunset{
      width: 40%;
      margin-left: 11vw;
      margin-top: 1vw;}

      .sunset:hover {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);}

.hescode{
      width: 52%;
      margin-left: 9vw;
      margin-top: -6vw;}

  .hescode:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);}

.text106{
    font-family: ProximaNova;
    color:#ffffff;
    font-size: 1.1vw;
    margin-left: 9vw;
    margin-top: 1vw;}

.box { grid-area: box;
  background: #A6B8E3;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 6;
  height: 63vw}

.vertnet { grid-area: vertnet;
  background: #ffffff;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 6;
  grid-row-end: 8;
  height: 36vw}

.empty2 { grid-area: empty2;
  background: #A6B8E3;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 7;
  height: 20vw}

  .ship1{
  background: #002EAB;
  height: 10.5vw;
  width: 26vw;
  margin-left: 37vw;
  position: relative;
  animation: swim 25s ease-in-out infinite;
  animation-play-state: running;
  }
@keyframes swim {
  0% {left: 0vw; right: 0vw}
 25% {left: 37vw; right: 0vw;}
 50% {left: 0vw; right: 0vw;}
 75% {left: -37vw; right: 0vw;}
 100% {left: 0vw; right: 0vw;}
}
  .ship1:hover{
  animation-play-state: paused;}

  .murm{
    font-family: ProximaNova;
    color:#ffffff;
    font-size: 2vw;
    margin-left: 1vw;
    margin-top: 0vw;
    padding-top: 1vw }

  .murmnumber{
    font-family: ProximaNova;
    color:#ffffff;
    font-size: 1.4vw;
    margin-left: 1vw;
    margin-top: 0vw;
    padding-top: 2vw }

  .up{
    width: 10%;
    margin-left: 22vw;
    margin-top: -6vw;
  }

  .ship2{
  background: #002EAB;
  height: 10.5vw;
  width: 26vw;
  position: relative;
  animation: swim2 30s ease-in-out infinite;
  animation-play-state: running;
  }
  .ship2:hover{
  animation-play-state: paused;}

  @keyframes swim2 {
    0% {left: 74vw; right: 0vw}
   25% {left: 0vw; right: 0vw;}
   50% {left: 74vw; right: 0vw;}
   75% {left: 0vw; right: 0vw;}
   100% {left: 74vw; right: 0vw;}
  }

  .trip{
    font-family: ProximaNova;
    color:#ffffff;
    font-size: 2vw;
    margin-left: 1vw;
    margin-top: 0vw;
    padding-top: 1vw }

  .tripnumber{
    font-family: ProximaNova;
    color:#ffffff;
    font-size: 1.4vw;
    margin-left: 1vw;
    margin-top: 0vw;
    padding-top: 2vw }

  .up2{
    width: 10%;
    margin-left: 22vw;
    margin-top: -6vw;
  }
  .up3{
    width: 10%;
    margin-left: 22vw;
    margin-top: -6vw;
  }

  .ship3{
  background: #ffffff;
  height: 10.5vw;
  width: 26vw;
  position: relative;
  animation: swim3 40s ease-in-out infinite;
  animation-play-state: running;
  }
  .ship3:hover{
  animation-play-state: paused;}

  @keyframes swim3 {
    0% {left: 0vw; right: 0vw}
   25% {left: 74vw; right: 0vw;}
   50% {left: 0vw; right: 0vw;}
   75% {left: 74vw; right: 0vw;}
   100% {left: 0vw; right: 0vw;}
  }
  .secret{
    font-family: ProximaNova;
    color:#002EAB;
    font-size: 2vw;
    margin-left: 3vw;
    margin-top: 0vw;
    padding-top: 4vw }

  .ship4{
  background: #002EAB;
  height: 10.5vw;
  width: 26vw;
  position: relative;
  animation: swim4 20s ease-in-out infinite;
  animation-play-state: running;
  }
  .ship4:hover{
  animation-play-state: paused;}

  @keyframes swim4 {
    0% {left: 74vw; right: 0vw}
   25% {left: 0vw; right: 0vw;}
   50% {left: 74vw; right: 0vw;}
   75% {left: 0vw; right: 0vw;}
   100% {left: 74vw; right: 0vw;}
  }
  .ship5{
  background: #002EAB;
  height: 10.5vw;
  width: 26vw;
  position: relative;
  animation: swim5 17s ease-in-out infinite;
  animation-play-state: running;
  }
  .ship5:hover{
  animation-play-state: paused;}

  @keyframes swim5 {
    0% {left: 0vw; right: 0vw}
   25% {left: 74vw; right: 0vw;}
   50% {left: 0vw; right: 0vw;}
   75% {left: 74vw; right: 0vw;}
   100% {left: 0vw; right: 0vw;}
  }

  .key{
    font-family: ProximaNova;
    color:#ffffff;
    font-size: 2vw;
    margin-left: 1vw;
    margin-top: 0vw;
    padding-top: 1vw }

  .keynumber{
    font-family: ProximaNova;
    color:#ffffff;
    font-size: 1.4vw;
    margin-left: 1vw;
    margin-top: 0vw;
    padding-top: 2vw }

    .cup{
      width: 8%;
      margin-left: 20vw;
      margin-top: -6vw;
    }
    .tempr{
      width: 5%;
      margin-left: 24vw;
      margin-top: -6vw;
    }

  .ship6{
  background: #002EAB;
  height: 10.5vw;
  width: 26vw;
  position: relative;
  animation: swim6 40s ease-in-out infinite;
  animation-play-state: running;
  }
  .ship6:hover{
  animation-play-state: paused;}

  @keyframes swim6 {
    0% {left: 74vw; right: 0vw}
   25% {left: 0vw; right: 0vw;}
   50% {left: 74vw; right: 0vw;}
   70% {left: 0vw; right: 0vw;}
   100% {left: 74vw; right: 0vw;}
  }
  .tokio{
    font-family: ProximaNova;
    color:#ffffff;
    font-size: 2vw;
    margin-left: 1vw;
    margin-top: 0vw;
    padding-top: 1vw }

  .tokionumber{
    font-family: ProximaNova;
    color:#ffffff;
    font-size: 1.4vw;
    margin-left: 1vw;
    margin-top: 0vw;
    padding-top: 2vw }

.bluenet { grid-area: bluenet;
  background: #002EAB;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 8;
  height: 16vw}

.meters{
  font-family: null;
  color:#ffffff;
  font-size: 1vw;
  margin-left: 3vw;
  margin-top: 6vw;
  padding-top: 0vw;
  position: absolute;
}
.meters:hover {
 color:#EA513A}

.meters2{
  font-family: null;
  color:#ffffff;
  font-size: 1vw;
  margin-left: 2vw;
  margin-top: 10vw;
  padding-top: 0vw;
  position: absolute;
}

.meters2:hover {
 color:#EA513A}

.meters3{
  font-family: null;
  color:#ffffff;
  font-size: 1vw;
  margin-left: 1vw;
  margin-top: 14vw;
  padding-top: 0vw;
  position: absolute;
}
.meters3:hover {
 color:#EA513A}


.whitenet { grid-area: whitenet;
  background: #ffffff;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
  height: 20vw}

  .trs{
      width: 15%;
      margin-left: 11vw;
      margin-top: 25vw;
      position: absolute;
  }

.lines{
    width: 100%;
    margin-left: 0vw;
    margin-top: 0vw;
}
.lines2{
    width: 100%;
    margin-left: 0vw;
    margin-top: 0vw;
}
.lines3{
    width: 100%;
    margin-left: 0vw;
    margin-top: 0vw;
}
.empty3 { grid-area: empty3;
  background: #A6B8E3;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end: 8;
  height: 16vw}

  .lastline{
    font-family: ProximaNova;
    color:#ffffff;
    font-size: 1.4vw;
    padding-top: 2vw;
    overflow: hidden;
    white-space: nowrap;
    animation: lastline 20s linear infinite;
  }
@keyframes lastline {
  from {text-ident: -10%}
  to {text-indent: 110%}
}
