body {
  background: #A6B8E3;
}
.blue1{
  width: 254px;
  height: 116px;
  position: relative;
  left: 0px;
  top: 0px;
  background: #002EAB;
}
.blue1:hover{
  background: #FFFFFF;
}
.white1{
  height: 117px;
  width: 1186px;
  position: relative;
  left: 254px;
  top: -117px;
  background: #FFFFFF;
}
.circle1{
  width: 21px;
  height: 21px;
  -webkit-border-radius: 21px;
  position: relative;
  left: 272px;
  top: 23px;
  background: #EA513A;
    }
.circle2{
  width: 33px;
  height: 33px;
  -webkit-border-radius: 33px;
  position: absolute;
  right: 46px;
  top: 26px;
  background: #EA513A;
}
.number1,.number2,.number3,.number4{
  height: 58px;
  width: 20px;
  font-family: "Null";
  font-weight: normal;
  font-size: 48px;
  text-align: left;
  position: relative;
  color: #002EAB;
}
.number1{
  left: 16px;
  top: 19px;
}
.number2{
  left: -93px;
  top: -31px;
}
.number3{
  left: 16px;
  top: 0px;
  color: #FFFFFF;
}
.number4{
  position: relative;
  left: 16px;
  top: 0px;
}
.city{
  position: relative;
  left: 0px;
  margin-top: -117px;

}
.white2{
  height: 90px;
  width: 334px;
  position: relative;
  left: 114px;
  top: 10px;
  background: #FFFFFF;
}
.dakar{
  width: 189px;
  height: 27px;
  display: block;
  position: absolute;
  margin-left: 70px;
  margin-top: 0px;
  /* padding-top: 15px; */
  top: 30px;

  background: url('../img/dakar.svg');
  animation:dakar 3s steps(1) infinite;
  animation-play-state: paused;
  }
  .dakar:hover{
      animation-play-state: running;
  }
  @keyframes dakar {
  0%{ background-position:  0px -44px;}
  20%{ background-position:  0px -88px;}
  40%{ background-position:  0px -132px;}
  60%{ background-position:   0px -176px;}
  80%{ background-position:   0px -220px;}
  100%{ background-position:   0px -264px;}
}
  .arrow{
  height: 37px;
  width: 232px;
  background-image: url("../img/arrow.png");
  position: relative;
  margin-left: 560px;
  margin-top: -54px;
  }
  .white3{
    height: 90px;
    width: 334px;
    position: relative;
    left: 962px;
    top: -63px;
    background: #FFFFFF;
  }
  .novoros{
    width: 273px;
    height: 35px;
    display: block;
    margin-left: 36px;
    margin-top: -26px;
    background: url('../img/novoros.svg');
    animation:novoros 3s steps(1) infinite;
    animation-play-state: paused;
    }
    .novoros:hover{
        animation-play-state: running;
    }
    @keyframes novoros {
    0%{ background-position:  0px -44px;}
    20%{ background-position:  0px -88px;}
    40%{ background-position:  0px -132px;}
    60%{ background-position:   0px -176px;}
    80%{ background-position:   0px -220px;}
    100%{ background-position:   0px -264px;}
  }

    .blue2{
      height: 433px;
      width: 331px;
      position: relative;
      left: 0px;
      top: 0px;
      background: #002EAB;
    }
    .white4{
      height: 433px;
      width: 1109px;
      position: relative;
      left: 321px;
      top: -433px;
      background: #FFFFFF;
    }
