@media only screen and (min-width: 1224px) and (max-device-width: 4480px){
  /* Desktop */

	.city1{
		width: 19.3vw;
    height: 2.8vw;
    margin-top: 1.5vw;
    margin-left: 1.8vw;
    display: block;
		background-size: 100%;
    /* background: url('../img/city1.svg'); */
    animation: city1 6s steps(1) infinite;
    animation-play-state: paused;
  }
  .city1:hover{
   animation-play-state: running;}

  @keyframes city1 {
		0% {background-position: 0vw 0vw;}   /* дакар */
    16% {background-position: 0vw -4.5vw;} /* панама */
    32% {background-position: 0vw -9vw;} /* жичжао */
    48% {background-position: 0vw -13.5vw;} /* дюнкерк */
    64% {background-position: 0vw -18vw;} /* хошимин */
    80% {background-position: 0vw -22.4vw;} /* мельбурн */
  }

  .city2{
		width: 16.1vw;
     height: 2.8vw;
     margin-top: 1.5vw;
     margin-left: 3.5vw;
     display: block;
		 background-size: 100%;
     /* background: url('../img/city2.svg'); */
     animation: city2 5s steps(1) infinite;
     animation-play-state: paused;
  }
   .city2:hover{
     animation-play-state: running; }

  @keyframes city2 {
		0% {background-position: 0vw 0vw;}   /* осака */
    16% {background-position: 0vw -4.5vw;} /* окленд */
    32% {background-position: 0vw -9vw;} /* сидней */
    48% {background-position: 0vw -13.5vw;} /* токио */
    64% {background-position: 0vw -18vw;} /* бостон */
    80% {background-position: 0vw -22.4vw;} /* стамбул */
  }
	 .whale { grid-area: whale;
	  background: url('../img/whalesall.svg');
		background-size: 106.5%;
	  grid-column-start: 3;
	  grid-column-end: 6;
	  grid-row-start: 3;
		grid-row-end: 4;
	  animation:change 4s steps(1) infinite;
	  animation-play-state: paused;}

	  .whale:hover{
	  animation-play-state: running;}

	  @keyframes change {
	   0% {background-position: 0vw 0vw;}  /* горбатый кит*/
	  25% {background-position: 0vw -29.4vw;} /* белуха*/
	  50% {background-position: 0vw -58.8vw;} /* финвал*/
	  75% {background-position: 0vw -88.05vw;} /* полосатик*/}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  /* iPad */
	.city1{
		width: 19.3vw;
    height: 2.8vw;
    margin-top: 1.5vw;
    margin-left: 1.8vw;
    display: block;
    background: url('../img/city1.svg');
    animation: city1 6s steps(1) infinite;
    animation-play-state: paused;
  }
  .city1:hover{
    animation-play-state: running; }

  @keyframes city1 {
		0% {background-position: 0vw 0vw;}   /* дакар */
    16% {background-position: 0vw -4.5vw;} /* панама */
    32% {background-position: 0vw -9vw;} /* жичжао */
    48% {background-position: 0vw -13.5vw;} /* дюнкерк */
    64% {background-position: 0vw -18vw;} /* хошимин */
    80% {background-position: 0vw -22.4vw;} /* мельбурн */
  }

  .city2{
		width: 16.1vw;
     height: 2.8vw;
     margin-top: 1.5vw;
     margin-left: 3.5vw;
     display: block;
     background: url('../img/city2.svg');
     animation: city2 5s steps(1) infinite;
     animation-play-state: paused;
  }
  .city2:hover{
    animation-play-state: running; }

  @keyframes city2 {
		0% {background-position: 0vw 0vw;}   /* осака */
    16% {background-position: 0vw -4.5vw;} /* окленд */
    32% {background-position: 0vw -9vw;} /* сидней */
    48% {background-position: 0vw -13.5vw;} /* токио */
    64% {background-position: 0vw -18vw;} /* бостон */
    80% {background-position: 0vw -22.4vw;} /* стамбул */
  }
	 .whale { grid-area: whale;
	  background: url('../img/whalesall.svg');
		background-size: 106.5%;
	  grid-column-start: 3;
	  grid-column-end: 6;
	  grid-row-start: 3;
		grid-row-end: 4;
	  animation:change 4s steps(1) infinite;
	  animation-play-state: paused;}

	  .whale:hover{
	  animation-play-state: running;}

	  @keyframes change {
	   0% {background-position: 0vw 0vw;}  /* горбатый кит*/
	  25% {background-position: 0vw -29.4vw;} /* белуха*/
	  50% {background-position: 0vw -58.8vw;} /* финвал*/
	  75% {background-position: 0vw -88.05vw;} /* полосатик*/
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* iPad Portrait */
	.city1{
		width: 19.3vw;
    height: 2.8vw;
    margin-top: 1.5vw;
    margin-left: 1.8vw;
    display: block;
    background: url('../img/city1.svg');
    animation: city1 6s steps(1) infinite;
    animation-play-state: paused;
  }
  .city1:hover{
   animation-play-state: running; }

  @keyframes city1 {
		0% {background-position: 0vw 0vw;}   /* дакар */
    16% {background-position: 0vw -4.5vw;} /* панама */
    32% {background-position: 0vw -9vw;} /* жичжао */
    48% {background-position: 0vw -13.5vw;} /* дюнкерк */
    64% {background-position: 0vw -18vw;} /* хошимин */
    80% {background-position: 0vw -22.4vw;} /* мельбурн */
  }

  .city2{
		width: 16.1vw;
     height: 2.8vw;
     margin-top: 1.5vw;
     margin-left: 3.5vw;
     display: block;
     background: url('../img/city2.svg');
     animation: city2 5s steps(1) infinite;
     animation-play-state: paused;
  }
  .city2:hover{
    animation-play-state: running; }

  @keyframes city2 {
		0% {background-position: 0vw 0vw;}   /* осака */
    16% {background-position: 0vw -4.5vw;} /* окленд */
    32% {background-position: 0vw -9vw;} /* сидней */
    48% {background-position: 0vw -13.5vw;} /* токио */
    64% {background-position: 0vw -18vw;} /* бостон */
    80% {background-position: 0vw -22.4vw;} /* стамбул */
  }
	 .whale { grid-area: whale;
	  background: url('../img/whalesall.svg');
		background-size: 106.5%;
	  grid-column-start: 3;
	  grid-column-end: 6;
	  grid-row-start: 3;
		grid-row-end: 4;
	  animation:change 4s steps(1) infinite;
	  animation-play-state: paused;}

	  .whale:hover{
	  animation-play-state: running;}

	  @keyframes change {
	   0% {background-position: 0vw 0vw;}  /* горбатый кит*/
	  25% {background-position: 0vw -29.4vw;} /* белуха*/
	  50% {background-position: 0vw -58.8vw;} /* финвал*/
	  75% {background-position: 0vw -88.05vw;} /* полосатик*/ }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* iPad Landscape */
	.city1{
		width: 19.3vw;
    height: 2.8vw;
    margin-top: 1.5vw;
    margin-left: 1.8vw;
    display: block;
    background: url('../img/city1.svg');
    animation: city1 6s steps(1) infinite;
    animation-play-state: paused;
  }
  .city1:hover{
    animation-play-state: running; }

  @keyframes city1 {
		0% {background-position: 0vw 0vw;}   /* дакар */
    16% {background-position: 0vw -4.5vw;} /* панама */
    32% {background-position: 0vw -9vw;} /* жичжао */
    48% {background-position: 0vw -13.5vw;} /* дюнкерк */
    64% {background-position: 0vw -18vw;} /* хошимин */
    80% {background-position: 0vw -22.4vw;} /* мельбурн */
  }

  .city2{
		width: 16.1vw;
     height: 2.8vw;
     margin-top: 1.5vw;
     margin-left: 3.5vw;
     display: block;
     background: url('../img/city2.svg');
     animation: city2 5s steps(1) infinite;
     animation-play-state: paused;
  }
  .city2:hover{
    animation-play-state: running; }

  @keyframes city2 {
		0% {background-position: 0vw 0vw;}   /* осака */
    16% {background-position: 0vw -4.5vw;} /* окленд */
    32% {background-position: 0vw -9vw;} /* сидней */
    48% {background-position: 0vw -13.5vw;} /* токио */
    64% {background-position: 0vw -18vw;} /* бостон */
    80% {background-position: 0vw -22.4vw;} /* стамбул */
  }
	 .whale { grid-area: whale;
	  background: url('../img/whalesall.svg');
		background-size: 106.5%;
	  grid-column-start: 3;
	  grid-column-end: 6;
	  grid-row-start: 3;
		grid-row-end: 4;
	  animation:change 4s steps(1) infinite;
	  animation-play-state: paused;}

	  .whale:hover{
	  animation-play-state: running;}

	  @keyframes change {
	   0% {background-position: 0vw 0vw;}  /* горбатый кит*/
	  25% {background-position: 0vw -29.4vw;} /* белуха*/
	  50% {background-position: 0vw -58.8vw;} /* финвал*/
	  75% {background-position: 0vw -88.05vw;} /* полосатик*/ }
	}
